* {
	margin: 0;
	padding: 0;
}

.pokedex{
    width: 750px;
    margin: 50px auto 0 auto;
}

.ladoIzquierdo{
    width: 400px;
    height: 500px;
    float: left;
    position: relative;
    z-index: 1;
}

.ladoDerecho{
    width: 350px;
    height: 500px;
    float: left;
    position: relative;
}

.logo{
    width: 281px;
    height: 99px;
    background: url('./PantallaInicio.png') no-repeat left top;
    z-index: 1;

    position: absolute;
    top: 220px;
    left: 30px;
}

.parteSuperior{
	width: 400px;
	height: 85px;
	background-color: #8b0000;

    /*box-shadow: -10px 9px #5e0000;
	-webkit-box-shadow: -10px 9px #5e0000;
	-moz-box-shadow: -10px 9px #5e0000;
	-o-box-shadow: -10px 9px #5e0000;*/

    border-top-left-radius: 30px;
	-webkit-border-top-left-radius: 30px;
	-moz-border-top-left-radius: 30px;
	-o-border-top-left-radius: 30px;
}

.parteInferior
{
    width: 400px;
    height: 420px;
    background-color: #c00d0d;

    /*box-shadow: -10px 9px #5e0000;
    -webkit-box-shadow: -10px 9px #5e0000;
    -moz-box-shadow: -10px 9px #5e0000;
    -o-box-shadow: -10px 9px #5e0000;*/

    border-bottom-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-bottom-left-radius: 30px;
    -o-border-bottom-left-radius: 30px;
}

.curve1_left{
    width: 201px;
    height: 85px;
    background-color: #8b0000;
    float: left;
    padding: 15px 0 0 15px;

    position: absolute;
    top: 0;
    left: 0;

    box-shadow: -10px 9px #5e0000;
    -webkit-box-shadow: -10px 9px #5e0000;
    -moz-box-shadow: -10px 9px #5e0000;
    -o-box-shadow: -10px 9px #5e0000;

    border-bottom-right-radius: 85px 60px;
    -webkit-border-bottom-right-radius: 85px 60px;
    -moz-border-bottom-right-radius: 85px 60px;
    -o-border-bottom-right-radius: 85px 60px;

    border-top-left-radius: 30px;
    -webkit-border-top-left-radius: 30px;
    -moz-border-top-left-radius: 30px;
    -o-border-top-left-radius: 30px;
}

.tapa{
    position: absolute;
    top: 85px;
    left: 0px;
	width: 350px;
	height: 420px;
	background-color: #c00d0d;

	border-bottom-right-radius: 30px;
	-webkit-border-bottom-right-radius: 30px;
	-moz-border-bottom-right-radius: 30px;
	-o-border-bottom-right-radius: 30px;

	/*box-shadow: -10px 9px #5e0000;
	-webkit-box-shadow: -10px 9px #5e0000;
	-moz-box-shadow: -10px 9px #5e0000;
	-o-box-shadow: -10px 9px #5e0000;*/
}